@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #343536;
    --color-primary: #101010;
    --color-primary: #080808;
    --color-primary: #0B0B0B;
    --color-accent: #C09E6B;
    --color-black: #000000;
    --color-white: #FFFFFF;
}


a:focus-visible {
    outline: 1px solid var(--color-white);
    border-radius: 2px;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 199px);
    overflow: hidden;
    background-color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  
}

@media (prefers-color-scheme: dark) {

}
