@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #343536;
    --color-primary: #101010;
    --color-primary: #080808;
    --color-primary: #0B0B0B;
    --color-accent: #C09E6B;
    --color-black: #000000;
    --color-white: #FFFFFF;
    /*background-color: var(--color-primary);*/
}


a:focus-visible {
    outline: 1px solid var(--color-white);
    border-radius: 2px;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 199px);
    overflow: hidden;
    touch-action: none;
}

.htmlScreen iframe{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
}

.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: fantasy;
}

.time {
    position: absolute;
    top: 5.8rem;
    left: 0;
    width: 100%;
    color: white;
    font-size: 6vh;
    padding-top: 5px;
    background: #00000033;
    text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

.controls
{
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
}   

.controls .raw
{
    display: flex;
    justify-content: center;
}

.controls .key
{
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
}

.controls .key.large
{
    width: 144px;
}

.controls .key.active
{
    background: #ffffff99;
}