@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


a:focus-visible {
    outline: 1px solid white;
    border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  
}

@media (prefers-color-scheme: dark) {

}
